<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css" media="screen">
    .table-striped{
      /*border-width: 1;*/
      border-collapse: collapse;
      border: 1px solid #cccccc;

      margin-bottom: 50px;

      min-width: 600px;
    }
    .table-striped td, .table-striped td tr{
      border: 1px solid #cccccc;
    }
    .table-striped td{
      text-align: center;
    }
    .table-striped td:first-child, .table-striped th:first-child{
      text-align: left !important;
    }
    .table-striped tr:hover td{
      background: #EEE !important;
    }

    .title-big{
      font-size: 32px;
      color: #e41c1c;
    }
    .title-h2{
      font-size: 26px;
      font-weight: bold;
    }
    .title-h3{
      font-size: 20px;
    }
    .home-tips{
      font-size: 12px;
      font-style: italic;
    }
    </style>
  </head>
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
          <tr>
            <td width="100%" style="padding:20px 20px 40px 20px;">
              <table max-width="840" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto; position:relative;">
                <tbody><tr>
                  <td>
                    <table max-width="840" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
                      <tbody><tr><td width="640" style="padding: 20px;">
                        <div class='content'><%- body %></div>
                      </td></tr></tbody>
                    </table>
                  </td>
                </tr></tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
  </body>
</html>
