{
  "production":{
    "username": "root",
    "password": null,
    "database": "tarantula_production",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "pool": {
      "max": 5,
      "min": 1
    }
  },

  "test":{
    "username": "root",
    "password": null,
    "database": "tarantula_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },

  "development":{
    "username": "root",
    "password": null,
    "database": "tarantula_development",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
