{
  "production": {
  },

  "development":{
  },

  "default":{
    "ip_white_list": [],
    "fetch_max_task_count": 100,
    "storage_path": "",
    "auto_clean_expired_tasks": false,
    "path_prefix": "",
    "secret": "",
    "token": ""
  }
}
